[Unit]
Description=Run mydots updater periodically

[Timer]
Unit=mydots-updater.service
OnStartupSec=30 seconds
OnUnitActiveSec=15 minutes

[Install]
WantedBy=timer.target
