#!/usr/bin/env sh

# path
export PATH="$HOME/.local/bin:$PATH"

# less
export LESSHISTFILE="$HOME/.less_history"

# fzf
export FZF_DEFAULT_COMMAND="fd --type file --hidden"

# mcfly
export MCFLY_FUZZY=true

# python
export PYTHONUSERBASE="$HOME/.pip"
