.*history
.bun
.cache
.cargo
.docker
.gnupg
.ipython
.java
.jdks
.local/lib
.local/share
.local/state
.mcfly
.mozilla/*
!.mozilla/firefox/
.mozilla/firefox/*
!.mozilla/firefox/custom.default/
.mozilla/firefox/custom.default/*
!.mozilla/firefox/custom.default/updater.sh
!.mozilla/firefox/custom.default/prefsCleaner.sh
!.mozilla/firefox/custom.default/user.js
!.mozilla/firefox/custom.default/user-overrides.js
.nv
.pki
.rustup
.ssh
.terminfo
.thunderbird
.uppaal
.vim
.wget-hsts
.xsession-errors*
.zoom
Desktop
Documents
Downloads
MEGASync
Music
Pictures
Public
Videos
dev
miniconda
mydots
zig
