.bun
.cache
.cargo
.java
.jdks
.local/lib
.local/share
.local/state
.mozilla
.nv
.rustup
.thunderbird
.uppaal
.zoom
Desktop
Documents
Downloads
MEGASync
Music
Pictures
Public
Videos
dev
miniconda
mydots
zig
