.mcfly/history.db
EOS-*
Electron
GIMP
JetBrains
Logic
Microsoft
Thunar
chromium
discord
flutter
fragments
galculator
ideavim
inkscape
libreoffice
renode
ristretto
sourcetrail
spotify
sqlitebrowser
teams
uppaal
